<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CPBundleIdentifier</key>
    <string>org.me1000.datepicker</string>
    <key>CPBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CPBundleName</key>
    <string>DatePicker</string>
    <key>CPBundlePackageType</key>
    <string>FMWK</string>
</dict>
</plist>
